---
title: Asus Zenwatch 1
deviceName: anthias
layout: aw-install
---

<div class="support-row">
  <div class="support-col">Display<div class="support-col-good"></div></div>
  <div class="support-col">Touch<div class="support-col-good"></div></div>
  <div class="support-col">Microphone<div class="support-col-good"></div></div>
  <div class="support-col">Bluetooth<div class="support-col-good"></div></div>
  <div class="support-col">Compass<div class="support-col-bad"></div></div>
  <div class="support-col">Haptics<div class="support-col-good"></div></div>
  <div class="support-col">USB<div class="support-col-good"></div></div>
</div>

<div class="callout callout-warning">
    <h4>Warning!</h4>
    <p>This device has been reported to have <a href="https://github.com/AsteroidOS/meta-anthias-hybris/issues/1">some touchscreen issues</a> with the 1.0 release that prevent it from being 100% usable.</p>
</div>
