---
title: LG G Watch Urbane
deviceName: bass
section: install
layout: aw-install
---

<table width="100%"><thead><tr>
<th>Display</th>
<th>Touch</th>
<th>Microphone</th>
<th>Bluetooth</th>
<th>Compass</th>
<th>Haptics</th>
<th>USB</th>
<th>WLAN</th>
<th>Heart Rate</th>
<th>Tilt-to-Wake</th>
</tr></thead><tbody><tr height="25px">
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
</tr></tbody></table>

<div class="callout callout-info">
    <h4>Hear rate sensor not working?</h4>
    <p>Your watch likely ran a very old version of WearOS. Please update WearOS to at least Marshmallow.</p>
    <p>See <a href="https://forum.xda-developers.com/smartwatch/watch-urbane/rom-ext4all-skin1980-t3341598">https://forum.xda-developers.com/smartwatch/watch-urbane/rom-ext4all-skin1980-t3341598</a> for a firmware that is confirmed to fix this issue.</p>
    <p>Then install AsteroidOS again, now the heart rate sensor should work.</p>
</div>
