---
title: LG G Watch Urbane
deviceName: bass
manufacturer: LG
enterFastbootVia: swipe
layout: aw-install
---

<table width="100%"><thead><tr>
<th>Display</th>
<th>Touch</th>
<th>Audio</th>
<th>Bluetooth</th>
<th>Sensors</th>
<th>Haptics</th>
<th>USB</th>
<th>WLAN</th>
</tr></thead><tbody><tr height="25px">
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#b94a48"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
</tr></tbody></table>
