---
title: LG G Watch Urbane
deviceName: bass
section: install
layout: aw-install
---

<div class="support-row">
  <div class="support-col">Display<div class="support-col-good"></div></div>
  <div class="support-col">Touch<div class="support-col-good"></div></div>
  <div class="support-col">Microphone<div class="support-col-good"></div></div>
  <div class="support-col">Bluetooth<div class="support-col-good"></div></div>
  <div class="support-col">Compass<div class="support-col-good"></div></div>
  <div class="support-col">Haptics<div class="support-col-good"></div></div>
  <div class="support-col">USB<div class="support-col-good"></div></div>
  <div class="support-col">WLAN<div class="support-col-good"></div></div>
  <div class="support-col">Heart Rate<div class="support-col-good"></div></div>
  <div class="support-col">Tilt-to-Wake<div class="support-col-good"></div></div>
</div>

<div class="callout callout-info">
    <h4>Hear rate sensor not working?</h4>
    <p>Your watch likely ran a very old version of WearOS. Please update WearOS to at least Marshmallow.</p>
    <p>See <a href="https://forum.xda-developers.com/smartwatch/watch-urbane/rom-ext4all-skin1980-t3341598">https://forum.xda-developers.com/smartwatch/watch-urbane/rom-ext4all-skin1980-t3341598</a> for a firmware that is confirmed to fix this issue.</p>
    <p>Then install AsteroidOS again, now the heart rate sensor should work.</p>
</div>
