---
title: LG G Watch
deviceName: dory
layout: aw-install
---

<table width="100%"><thead><tr>
<th>Display</th>
<th>Touch</th>
<th>Microphone</th>
<th>Bluetooth</th>
<th>Compass</th>
<th>Haptics</th>
<th>USB</th>
<th>Tilt-to-Wake</th>
</tr></thead><tbody><tr height="25px">
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#b94a48"></td>
</tr></tbody></table>
