---
title: LG G Watch
deviceName: dory
layout: aw-install
---

<table width="100%"><thead><tr>
<th>Display</th>
<th>Touch</th>
<th>Microphone</th>
<th>Bluetooth</th>
<th>Compass</th>
<th>Haptics</th>
<th>USB</th>
</tr></thead><tbody><tr height="25px">
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
</tr></tbody></table>

<div class="callout callout-warning">
    <h4>Warning!</h4>
    <p>The LG G Watch sometimes boot without Bluetooth working. Rebooting the watch a couple of times typically fixes this problem.</p>
</div>
