---
title: MTK6580 watches
deviceName: harmony
layout: mtk-install
---

<table width="100%"><thead><tr>
<th>Display</th>
<th>Touch</th>
<th>Microphone</th>
<th>Bluetooth</th>
<th>Compass</th>
<th>Haptics</th>
<th>USB</th>
<th>Camera</th>
<th>Heart Rate</th>
</tr></thead><tbody><tr height="25px">
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#b94a48"></td>
</tr></tbody></table>

<div class="callout callout-info">
    <h4>Harmony</h4>
    <p>This port of AsteroidOS should cover the following watches:</p>
    <ul>
       <li>Kingwear KW68, KW88, KW88 Pro, KW98, KW99, KW99 Pro</li>
       <li>Blocks Watch</li>
       <li>Look Watch</li>
       <li>Zeblaze Thor, Thor S</li>
       <li>Lemfo LES1</li>
       <li>IQ I2</li>
       <li>Diggro DI01, DI07</li>
       <li>AllCall W1, W2</li>
    </ul>
    <p>For other MTK6580 watches, check out <a href="{{rel 'install/inharmony'}}">inharmony</a> instead.</p>
    <p>However, please note that only the Kingwear KW88 has been rigorously tested. Other watches have been reported to have various bugs, for instance the Zeblaze Thor has non working touchscreen. The Lemfo LES1 and Zeblaze Thor 3G have a screen rotated by 45°.</p>
</div>
