---
title: Moto 360 2015
deviceName: smelt
section: install
layout: aw-install
---

<div class="support-row">
  <div class="support-col">Display<div class="support-col-good"></div></div>
  <div class="support-col">Touch<div class="support-col-good"></div></div>
  <div class="support-col">Microphone<div class="support-col-bad"></div></div>
  <div class="support-col">Bluetooth<div class="support-col-good"></div></div>
  <div class="support-col">Haptics<div class="support-col-good"></div></div>
  <div class="support-col">USB<div class="support-col-good"></div></div>
  <div class="support-col">WLAN<div class="support-col-good"></div></div>
  <div class="support-col">Heart Rate<div class="support-col-good"></div></div>
  <div class="support-col">Tilt-to-Wake<div class="support-col-good"></div></div>
</div>

<div class="callout callout-info">
    <h4>USB connection</h4>
    <p>The Moto 360 2015 doesn't expose a USB connection. It is however possible to connect to the watch using an adapter cable.</p>
    <p>You will need access to the pads of the watch, this can be achieved by removing plastic outer ring. This is fairly straightforward as the ring can be easily lifted by putting a fingernail underneath the small lip.</p>
    <p>Then you can either solder to the appropriate pads or 3D print a dock.</p>
    <p>See <a href="https://forum.xda-developers.com/showpost.php?p=76733989">https://forum.xda-developers.com/showpost.php?p=76733989</a> on which pad corresponds to which USB pin.</p>
    <p>See <a href="https://www.thingiverse.com/thing:4366014">https://www.thingiverse.com/thing:4366014</a> on a 3D prinable dock that can be used to interface with the watch (Also needs pogo pins).</p>
</div>
