---
title: Asus Zenwatch 2
deviceName: sparrow
layout: aw-install
---

<table width="100%"><thead><tr>
<th>Display</th>
<th>Touch</th>
<th>Microphone</th>
<th>Bluetooth</th>
<th>Compass</th>
<th>Haptics</th>
<th>USB</th>
<th>WLAN</th>
</tr></thead><tbody><tr height="25px">
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#b94a48"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#b94a48"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#b94a48"></td>
</tr></tbody></table>

<div class="callout callout-warning">
    <h4>Warning!</h4>
    <p>Make sure you use the correct Asus Zenwatch 2 ROM.</p>
    <ul>
        <li><a href="{{rel '/install/sparrow'}}">Sparrow</a> has a 320x320 1.63-inch screen, 22mm straps and a 380mAh battery.</li>
        <li><a href="{{rel '/install/wren'}}">Wren</a> has a 280x280 1.45-inch screen, 18mm straps and a 290mAh battery.</li>
    </ul>
</div>
