---
title: Samsung Gear Live
deviceName: sprat
layout: aw-install
---

<table width="100%"><thead><tr>
<th>Display</th>
<th>Touch</th>
<th>Microphone</th>
<th>Bluetooth</th>
<th>Compass</th>
<th>Haptics</th>
<th>USB</th>
</tr></thead><tbody><tr height="25px">
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#b94a48"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
</tr></tbody></table>

<div class="callout callout-warning">
    <h4>Warning!</h4>
    <p>It has been reported that the AsteroidOS UI is currently unusable on the Samsung Gear Live.</p>
</div>
