---
title: Samsung Gear Live
deviceName: sprat
layout: aw-install
---

<div class="support-row">
  <div class="support-col">Display<div class="support-col-good"></div></div>
  <div class="support-col">Touch<div class="support-col-good"></div></div>
  <div class="support-col">Microphone<div class="support-col-good"></div></div>
  <div class="support-col">Bluetooth<div class="support-col-good"></div></div>
  <div class="support-col">Compass<div class="support-col-bad"></div></div>
  <div class="support-col">Haptics<div class="support-col-good"></div></div>
  <div class="support-col">USB<div class="support-col-good"></div></div>
</div>
<table width="100%"><thead><tr>
<th>Display</th>
<th>Touch</th>
<th>Microphone</th>
<th>Bluetooth</th>
<th>Compass</th>
<th>Haptics</th>
<th>USB</th>
</tr></thead><tbody><tr height="25px">
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#b94a48"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
</tr></tbody></table>

<div class="callout callout-warning">
    <h4>Warning!</h4>
    <p>It has been reported that the AsteroidOS UI is currently unusable on the Samsung Gear Live.</p>
</div>
