---
title: Sony Smartwatch 3
deviceName: tetra
manufacturer: Sony
enterFastbootVia: holdUntilLogo
useSimg: true
layout: aw-install
---

<table width="100%"><thead><tr>
<th>Display</th>
<th>Touch</th>
<th>Audio</th>
<th>Bluetooth</th>
<th>Sensors</th>
<th>Haptics</th>
<th>USB</th>
<th>WLAN</th>
</tr></thead><tbody><tr height="25px">
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#b94a48"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#b94a48"></td>
<td bgcolor="#b94a48"></td>
<td bgcolor="#5ab948"></td>
<td bgcolor="#5ab948"></td>
</tr></tbody></table>

<div class="callout callout-warning">
    <h4>Warning!</h4>
    <p>The Sony Smartwatch 3 is the only watch supported by AsteroidOS using a Broadcom SoC. Its support is known for being experimental. It presents various limitations for a daily usage but is enough to get an overall overview of AsteroidOS.</p>
    <ul>
        <li>Battery life is not satisfying (~7 hours).</li>
        <li>Screen rendering is not accurate (wrong colors, missing shaders etc...).</li>
    </ul>
</div>
