---
title: Contact
slug: contact
---

<h3>Community</h3>
<p>General discussions around AsteroidOS happen on the #asteroid IRC channel on Freenode. Logs are available <a href="https://log.asteroidos.org/">here</a>. If you don't have an IRC client, use the webchat below:</p>
<iframe style="border: 0; width: 100%; height: 600px;" src="https://kiwiirc.com/client/irc.freenode.net/#asteroid"></iframe>

<h3>Media & Press</h3>
<p>If you are a journalist looking for more content or details about AsteroidOS, email: <a href="mailto://media@asteroidos.org">media@asteroidos.org</a></p>

<h3>Partners</h3>
<p>If you are an OEM or ODM interested in professional services around AsteroidOS, email: <a href="mailto://partners@asteroidos.org">partners@asteroidos.org</a></p>

<h3>Others</h3>
<p>For other reasons, email: <a href="mailto://partners@asteroidos.org">contact@asteroidos.org</a></p>
<br><br>
