<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
   <channel>
      <title>Asteroid OS News</title>
      <link>http://www.nasa.gov/</link>
      <description>A RSS feed containing the latest news from Asteroid OS.</description>
      <language>en-us</language>
      <pubDate>Tue, 21 Sep 2023 17:20:46 GMT</pubDate>
      <lastBuildDate>{{dateFormat posted "yyyy-MM-dd'T'HH:mm:ss.SSSXXX"}}</lastBuildDate>
      <docs>https://www.rssboard.org/rss-specification</docs>
      <atom:link href="https://asteroidos.org/rss" rel="self" type="application/rss+xml" />
    {{#markdown}}
      {{> body}}
    {{/markdown}}
   </channel>
</rss>
