<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body{{#slug}} class="{{.}}"{{/slug}}>
    {{!-- Docs master nav --}}
    {{> nav-main }}

    <div id="content" class="docs-header">
    <div class="container">
    <h1>Watches</h1>
    </div>
    </div>

    {{!-- Content --}}
    <div class="container docs-container">
      <p>AsteroidOS can be installed as an alternative operating system on various smartwatches. Instructions for each model can be found below.</p>
      <p>Before installing AsteroidOS, make sure you are aware of the capabilities and limitations of AsteroidOS by consulting the <a href="{{rel 'faq'}}">FAQ page</a>.</p>
      <p>A summary of the state of all features of all watches AsteroidOS supports is in the <a href="{{rel 'watches/features'}}">Features Table</a>.</p>
    <div class="page-header">
      <h1>Supported</h1>
    </div>
    {{#each (getAllWithStatus "supported")}}
      {{> installbox}}
    {{/each}}

    <div class="page-header">
      <h1>Experimental</h1>
    </div>
    <p>The AsteroidOS support level for some watches is currently deemed experimental for various reasons. They are not recommended for daily use but should still give an overall impression of AsteroidOS.</p>
    {{#each (getAllWithStatus "experimental")}}
      {{> installbox}}
    {{/each}}

    {{> body }}
    </div>
    {{!-- Spacing to footer --}}
    <br><br><br>
    {{!-- Footer --}}
    {{> footer }}

    {{!-- JavaScript and analytics only. --}}
    {{> javascripts }}
  </body>
</html>
