<footer class="footer" role="contentinfo">
  <div class="container">
    <ul class="footer-links">
      <li><a href="https://github.com/AsteroidOS/"><i class="icon ion-logo-github"></i></a></li>
      <li><a href="https://twitter.com/AsteroidOS"><i class="icon ion-logo-twitter"></i></a></li>
      <li><a href="{{rel 'contact'}}"><i class="icon ion-md-chatbubbles"></i></a></li>
      <li><a href="mailto:contact@asteroidos.org"><i class="icon ion-md-mail"></i></a></li>
    </ul>
  </div>
</footer>
