<footer class="footer" role="contentinfo">
  <div class="container">
    <ul class="footer-links">
      <li><a href="https://github.com/AsteroidOS/"><i class="icon ion-social-github"></i></a></li>
      <li><a href="https://twitter.com/AsteroidOS"><i class="icon ion-social-twitter"></i></a></li>
      <li><a href="{{rel 'contact'}}"><i class="icon ion-chatbubbles"></i></a></li>
      <li><a href="mailto:contact@asteroidos.org"><i class="icon ion-email"></i></a></li>
    </ul>
  </div>
</footer>
