  <h2>1. Reboot into bootloader mode</h2>
  <ul>
    <li>Hold the front button until the Gear 2 logo is shown with the text "Rebooting..." (this last part is important!)</li>
    <li>When this screen is show, press the font button a bunch of times</li>
    <li>This opens a menu. Navigate to the 'DOWNLOAD' option by short pressing the button.</li>
    <li>Long press the front button. This will bring you to the download mode.</li>
  </ul>
