      <div class="install-preparation-box">
        <h3>Install ADB & Fastboot</h3>
        <br>
        <div name="LinAdb" style="display: block">
          <h4>Debian / Ubuntu</h4>
          <div class="install-code-wrapper" style="justify-content: center;">
            <div class="install-code-pre-wrapper">
              <pre class="install-code-pre" style="border-radius: 4px;"><code id="apt">sudo apt install android-tools-adb <br>android-tools-fastboot</code></pre>
            </div>
            <div class="clipboard-button-wrapper">
              <input type="button" class="btn btn-primary clipboard-button" onclick="copyToClipboard('#apt')" value="&#10697;"></input>
            </div>
          </div>
          <h4>Fedora / OpenSUSE / CentOS</h4>
          <div class="install-code-wrapper" style="justify-content: center;">
            <div class="install-code-pre-wrapper">
              <pre class="install-code-pre"><code id="dnf">sudo dnf install android-tools</code></pre>
            </div>
            <div class="clipboard-button-wrapper">
             <input type="button" class="btn btn-primary clipboard-button" onclick="copyToClipboard('#dnf')" value="&#10697;"></input>
            </div>
          </div>
          <h4>Arch and derivatives</h4>
          <div class="install-code-wrapper" style="justify-content: center;">
            <div class="install-code-pre-wrapper">
              <pre class="install-code-pre"><code id="pacman">sudo pacman -Sy android-tools</code></pre>
            </div>
            <div class="clipboard-button-wrapper">
             <input type="button" class="btn btn-primary clipboard-button" onclick="copyToClipboard('#pacman')" value="&#10697;"></input>
            </div>
          </div>
        </div>
        <div name="WinAdb" style="display: none">
          Install the Google USB driver
          <br><br>
          <a class="btn btn-primary" href="https://developer.android.com/studio/run/win-usb" role="button" target="_blank" rel="noopener noreferrer" title="Open download source in new tab or window">Get the Google USB Driver ZIP</a>
          <br><br>
          Download this zip file containing ADB & Fastboot from Android SDK
          <br><br>
          <a class="btn btn-primary" href="https://release.asteroidos.org/tools/adb_1_0_39+fastboot+ext2simg.zip" role="button">adb-1_0_39+fastboot+ext2simg.zip</a>
          <br><br>
          Extract the content to a folder of your liking.<br>
          Navigate to that folder using the Windows commandline (cmd.exe).
        </div>
        <br><br>
      </div>
      <h1>Instructions</h1>
