      <div class="install-preparation-box">
        <h3>Install Heimdall</h3>
        <br>
        <div name="LinHeimdall" style="display: block">
          Debian / Ubuntu
          <div class="install-code-wrapper" style="justify-content: center;">
            <div class="install-code-pre-wrapper">
              <pre class="install-code-pre" style="border-radius: 4px;"><code>sudo apt install heimdall-flash</code></pre>
            </div>
            <div class="clipboard-button-wrapper">
              <input type="button" class="btn btn-primary clipboard-button" value="&#10697;"></input>
            </div>
          </div>
          Fedora / CentOS
          <div class="install-code-wrapper" style="justify-content: center;">
            <div class="install-code-pre-wrapper">
              <pre class="install-code-pre"><code>sudo dnf install heimdall</code></pre>
            </div>
            <div class="clipboard-button-wrapper">
             <input type="button" class="btn btn-primary clipboard-button" value="&#10697;"></input>
            </div>
          </div>
          OpenSUSE
          <div class="install-code-wrapper" style="justify-content: center;">
            <div class="install-code-pre-wrapper">
              <pre class="install-code-pre"><code>sudo zypper install heimdall</code></pre>
            </div>
            <div class="clipboard-button-wrapper">
             <input type="button" class="btn btn-primary clipboard-button" value="&#10697;"></input>
            </div>
          </div>
          Arch and derivatives
          <div class="install-code-wrapper" style="justify-content: center;">
            <div class="install-code-pre-wrapper">
              <pre class="install-code-pre"><code>sudo pacman -Sy heimdall</code></pre>
            </div>
            <div class="clipboard-button-wrapper">
             <input type="button" class="btn btn-primary clipboard-button" value="&#10697;"></input>
            </div>
          </div>
        </div>
      </div>
      <h1>Instructions</h1>
