{{!-- Install select method --}}

        <h2>2. Install and boot AsteroidOS</h2>
        <h3>2.1 Choose your installation type</h3>
        <div class="radio-install">
          <input type="radio" name="MethSelector" value="Temp" id="MethSelectTemp" checked="checked">
          <label for="MethSelectTemp">Temporary install</label>
        </div>
        <p>Try AsteroidOS as a <i>dual-boot</i> by sideloading the AsteroidOS system image and boot it only temporarily.
        <br>This a good way to try if AsteroidOS meets your requirements. Or in case you don't plan to use AsteroidOS daily and intend to not permanently replace your previous OS.
        <br>The only differences compared to a real installation are very limited disk space and the necessity to manually boot AsteroidOS on every restart.</p>
        <div class="radio-install">
          <input type="radio" name="MethSelector" value="Real" id="MethSelectReal">
          <label for="MethSelectReal">Real install</label>
        </div>
        Replace WearOS definitively by flashing the system and boot image.
        <br>The real installation provides the best experience, but it is advised to make a <a href="https://asteroidos.org/wiki/backup/">backup of your previous OS</a> first.
      <div class="callout callout-danger">
        <h4>Warning</h4>
        If you do not make a backup BEFORE doing a real installation, it may not be possible to restore your previous OS!
      </div>
        <br>We highly recommend to first test if AsteroidOS meets the requirements of your usecase by performing the non invasive temporary installation before permanently replacing your previous OS.
