{{!-- Install Troubleshooting --}}
<div id="InstallTroubleshooting" class="page-header">
  <h1>Installation Troubleshooting</h1>
</div>
<h2>Boot problems</h2>
<div class="callout">
    <h3>Bootloop of any kind or stuck boot process</h3>
    Don't panic. Non of the commands we advised you to use can damage or brick your watch permanently.<br>
    You can always go back to the fastboot bootloader menu, by using the <a href="https://asteroidos.org/wiki/useful-commands/#boot-to-fastboot-bootloader-menu">manual finger combos for your watch</a>.
    <ul>
      <li><h4>Verify that you used the correct image files</h4>Some devices like the Asus Zenwatch 2, the Fossil Gen4 models and the MTK6580 watches have more than on system image supplied, for different variants with slightly different hardware. Most watches have a graphical fastboot menu that shows the correct codename for the watch. Others need to be identified using the hardware differences noted on the install page.</li>
      <li><h4>Clean your watch and charger contacts</h4>Even in case the fastboot flash process succeeds with no errors, it can still silently fail due to connection problems caused by dirty contacts. Clean the pins and pads with isopropyl alcohol. Ideally using that old toothbrush you keep around for electronics cleaning or a microfiber cloth. Carefully sanding the contacts (e.g. with a nailfile) can help in case of obvious corrosion.</li>
      <li><h4>Ensure a stable USB connection</h4>Put the watch and your computer on the same flat surface. Try to not move the cable connecting your computer and the watch during the whole flashing process. In case of worn or corroded contacts and pogo-pins that lost their springiness, it might be useful to attach the watch to its cradle or charging cable using ductape or rubber bands.</li>
      <li><h4>Repeat the flash process.</h4>Up to five tries have been reported to possibly give a successful result in the end.</li>
    </ul>
    <h3>Boot gets stuck even after repeated reflash</h3>
    Congratulations, you might have found a new issue for us to solve. This should not happen when using stable builds. The nightlies are however advancing quickly and it is not always possible for us to test implications on all watches accordingly. Since the watches install pages link to the nightlies currently, you likely used those. You can try again and <a href="https://release.asteroidos.org/">install a stable build when available</a>.<br>To help us solve the problem, you could try to collect logs. It is possible that the watch does not show a UI but is already accessible using <code>ssh ceres@192.168.2.15</code> or <code>adb shell</code> in the state the boot process stops. In case ssh or ADB connections work, try the following commands to write logs to local .txt files.
    <ul>
      <li><code>ssh root@192.168.2.15 "dmesg" > dmesg-watch.txt</code></li>
      <li><code>ssh root@192.168.2.15 "journalctl" > journal-watch.txt</code></li>
      <li><code>adb shell logcat > logcat-watch.txt</code></li>
    </ul>
    In case no connection is available, it is still interesting to see if the watch leaves any traces in your local dmesg. Try to spot USB related messages in <code>sudo dmesg -w</code> while the watch is connected and booting. Record the log using the <code>sudo dmesg > dmesg-local.txt</code> command.<br>
    You can share those logs in a new <a href="https://github.com/AsteroidOS/meta-smartwatch/issues">Github issue</a> tagged with the watch codename. For support chat, you are invited to <a href="https://matrix.to/#/#Asteroid:matrix.org">join our Matrix channel</a>.
    <h3>Watch only boots when powered via USB, but shuts off when booted while worn</h3>
    This is a clear sign of a worn battery that will soon fail. Maybe you should replace it. The boot process of AsteroidOS uses all cores of a watch to ensure a fast startup. This leads to power spikes during the boot process, which can completely shut down watches with worn out batteries. It has been observed that WearOS can still boot on watches with worn out batteries, but AsteroidOS cannot, depending on the progress of battery wear. However, AsteroidOS can usually still provide a useful 10-20 hours of uptime when the watch is worn once booted while powered up. Watch batteries are relatively easy to replace on watches with screwed down backs. Glued back plates usually require a more or less unruly process of heating and prying.
    <h3>Watch successfully boots into the AsteroidOS user interface, but immediately reboots</h3>
    This is a known behavior when the battery charge is very low. The watch usually recovers from this condition by simply boot cycling for some time. All watches also charge in fastboot or recovery mode. Letting the watch dwell on the fastboot or recovery menu screen for some time should fix the problem even faster.
</div>
<h2>Flashing problems</h2>
<div class="callout">
    <h3>Watch is not detected and all fastboot commands fail</h3>
    <ul>
      <li><h4>When using Linux,</h4> try to prepend <code>sudo</code> to the commands to execute them with root rights. If that works, you are missing UDEV rules for Android devices that would allow your user to issue the commands. Many package managers offer the <code>android-udev-rules</code> package to make the manual entry of those udev rules unnecessary.</li>
      <li><h4>On Windows systems,</h4> this usually happens due to driver problems. If you have any other Android USB driver installed than the official Google USB driver we link above in the install boxes, please remove that one. Then do a clean install of the Google USB driver or update it by installing a possibly newer version.<br>If that does not solve your problem, we highly recommend to not waste time trying to debug the issue on windows. But create a persistent live Linux USB-Stick according to <a href="https://askubuntu.com/questions/1300454/easy-full-install-usb-that-boots-both-bios-and-uefi">e.g. these instructions at askubuntu.com</a>. And then follow the Linux commands above while booted into the live Linux USB-Stick.</li>
    </ul>
    <h3>Fastboot command stops with error during the ~5 minute flashing process</h3>
    Smartwatches are prone to lose a proper connection to their cradle over time due to sweat corroding the watch pins. Clean the pins and pads with isopropyl alcohol. Ideally using that old toothbrush you keep around for electronics cleaning or a microfiber cloth. Carefully sanding the contacts (e.g. with a nailfile) can help in case of obvious corrosion. Try to ensure a stable USB connection by putting the watch and your computer on the same flat surface. Try to not move the cable connecting your computer and the watch during the whole flashing process. In case of worn or corroded contacts and pogo-pins that lost their springiness, it might be useful to attach the watch to its cradle or charging cable using ductape or rubber bands.
    <h3>Fastboot command displays "invalid sparse file format at header magic" when starting to flash the device</h3>
    This is not a fatal error and can safely be ignored. Fastboot expects images to be in sparse format. When a raw image is supplied like in case of most of the AsteroidOS watches, fastboot converts it to sparse and shows above message.
    <h3>Fastboot command crashes or hangs at "invalid sparse file format at header magi" (explicitly missing the "c" in magic)</h3>
    This error occurs when using deprecated fastboot and ADB versions on Windows systems. If you already had adb.exe and fastboot.exe installed and skipped downloading our <a href="https://release.asteroidos.org/tools/adb_1_0_39+fastboot+ext2simg.zip">supplied ZIP file</a>, please install and try those commands instead. Another reliable source for updated windows ADB and fastboot versions is the <a href="https://dl.google.com/android/repository/platform-tools-latest-windows.zip">official Google platform tools ZIP file</a>.
</div>
