        {{#if deviceNames.[1]}}
        <p>Note that in the instructions below, <code>{{deviceNames.[0]}}</code> is used as part of several file names.  For <code>{{deviceNames.[1]}}</code>, simply substitute that name in each file name.</p>
        {{/if}}
        <h2>2. Installation</h2>
        While your watch is in download mode, flash the userdata and boot partition:
        <div class="install-code-wrapper">
          <div class="install-code-pre-wrapper">
            <pre class="install-code-pre"><code class="bash">heimdall flash --BOOT ~/Downloads/zImage-{{deviceNames.[0]}}.bin --USER ~/Downloads/asteroid-image-{{deviceNames.[0]}}.rootfs.ext4</code></pre>
          </div>
          <div class="clipboard-button-wrapper">
            <input type="button" class="btn btn-primary clipboard-button" value="&#10697;"></input>
          </div>
        </div>
