{{!-- Install Troubleshooting --}}
<div id="InstallTroubleshooting" class="page-header">
  <h1>Installation Troubleshooting</h1>
</div>

<div class="callout">
    <h4>Commands fail or stop during the ~5 minute flashing process</h4>
    Smartwatches are prone to lose a proper connection to their cradle over time due to sweat corroding the watch pins. This is a particularly a regular problem with dory (LG G Watch). Cleaning the pins with isopropyl alcohol or even carefully sanding them (e.g. with a nailfile) can restore a reliable connection.
</div>

<div class="callout">
    <h4>My fastboot command displays "invalid sparse file format at header magic" when starting to flash the device</h4>
    This is not a fatal error and can safely be ignored.
</div>

<div class="callout">
    <h4>My fastboot command crashes or hangs at "invalid sparse file format at header magi" (with a missing "c" in magic)</h4>
    This error occurs when using deprecated fastboot and ADB commands on Windows systems. If you already had those commands installed and skipped downloading our <a href="https://release.asteroidos.org/tools/adb_1_0_39+fastboot+ext2simg.zip">supplied zip file</a>, please install those commands instead.
</div>

<div class="callout">
    <h4>My Asus Zenwatch 2 flashed successfully but does not boot</h4>
    There are two versions of the Asus Zenwatch 2, codenamed Sparrow and Wren. Their images are not interchangeable. Please ensure you are using the right files.
</div>

