<div class="install-prerequisits-box">
  <h3>Choose version</h3>
  <div class="radio-install">
    <input type="radio" name="ReleaseSelector" id="BaseSelectRelease20" value="2.0" checked="checked">
    <label for="BaseSelectRelease20">2.0</label>
    <input type="radio" name="ReleaseSelector" id="BaseSelectReleaseNightly" value="Nightly">
    <label for="BaseSelectReleaseNightly">Nightly</label>
  </div>
  <br>
</div>
<div class="install-prerequisits-box">
  <h3>Your Watch is running</h3>
  <div class="radio-install">
    <input type="radio" name="BaseSelector" id="BaseSelectWearos" value="WearOs" checked="checked">
    <label for="BaseSelectWearos">Wear OS</label>
    <input type="radio" name="BaseSelector" id="BaseSelectReflash" value="Reflash">
    <label for="BaseSelectReflash">AsteroidOS</label>
  </div>
  <br>
</div>
<div class="install-prerequisits-box">
  <h3>Show instructions for</h3>
  <div class="radio-install">
    <input type="radio" name="OSSelector" id="OSSelectLin" value="Lin" checked="checked">
    <label for="OSSelectLin">Linux</label>
    <input type="radio" name="OSSelector" id="OSSelectWin" value="Win">
    <label for="OSSelectWin">Windows</label>
  </div>
  <br>
</div>
