<div class="install-preparation-box">
  <h3>Your Watch is running</h3>
  <div class="radio-install">
    <input type="radio" name="BaseSelector" id="BaseSelectWearos" value="WearOs" checked="checked">
    <label for="BaseSelectWearos">Wear OS</label>
    <input type="radio" name="BaseSelector" id="BaseSelectReflash" value="Reflash">
    <label for="BaseSelectReflash">AsteroidOS</label>
  </div>
  <br>
</div>
<div class="install-preparation-box">
  <h3>Show instructions for</h3>
  <div class="radio-install">
    <input type="radio" name="OSSelector" id="OSSelectLin" value="Lin" checked="checked">
    <label for="OSSelectLin">Linux</label>
    <input type="radio" name="OSSelector" id="OSSelectWin" value="Win">
    <label for="OSSelectWin">Windows</label>
  </div>
  <br>
</div>
