        <div name="LinTemp" style="display: block">
          <h3>2.2 Temporary installation using Linux</h3>
          <b>It's important to not boot into WearOS after unlocking your bootloader!</b>
          <br>While your watch is in bootloader mode, flash the recovery partition:
          <div class="install-code-wrapper">
            <div class="install-code-pre-wrapper">
              <pre class="install-code-pre"><code class="bash" id="temp-lin-4">fastboot flash recovery ~/Downloads/zImage-dtb-{{deviceNames.[0]}}.fastboot</code></pre>
            </div>
            <div class="clipboard-button-wrapper">
              <input type="button" class="btn btn-primary clipboard-button" onclick="copyToClipboard('#temp-lin-4')" value="&#10697;"></input>
            </div>
          </div>
          Then, use the top button on the watch to select "Recovery mode" and push the bottom button to boot into AsteroidOS.
          <br>The bootlogo will popup with the message "<b>Push asteroidos.ext4 via ADB</b>" will show below the bootlogo.
          <br>Push AsteroidOS to the internal sdcard:
          <div class="install-code-wrapper">
            <div class="install-code-pre-wrapper">
              <pre class="install-code-pre"><code class="bash" id="temp-lin-5">adb push -p ~/Downloads/asteroid-image-{{deviceNames.[0]}}.ext4 /sdcard/media/0/asteroidos.ext4</code></pre>
            </div>
            <div class="clipboard-button-wrapper">
              <input type="button" class="btn btn-primary clipboard-button" onclick="copyToClipboard('#temp-lin-5')" value="&#10697;"></input>
            </div>
          </div>
        </div>

        <div name="WinTemp" style="display: none">
          <h3>2.2 Temporary installation using Windows</h3>
          <b>It's important to not boot into WearOS after unlocking your bootloader!</b>
          <br>While your watch is in bootloader mode, flash the recovery partition:
          <div class="install-code-wrapper">
            <div class="install-code-pre-wrapper">
              <pre class="install-code-pre"><code class="bash" id="temp-win-4">fastboot flash recovery %systemdrive%%homepath%\Downloads\zImage-dtb-{{deviceNames.[0]}}.fastboot</code></pre>
            </div>
            <div class="clipboard-button-wrapper">
              <input type="button" class="btn btn-primary clipboard-button" onclick="copyToClipboard('#temp-win-4')" value="&#10697;"></input>
            </div>
          </div>
          Then, use the top button on the watch to select "Recovery mode" and push the bottom button to boot into AsteroidOS.
          <br>The bootlogo will popup with the message "<b>Push asteroidos.ext4 via ADB</b>" will show below the bootlogo.
          <br>Push AsteroidOS to the internal sdcard:
          <div class="install-code-wrapper">
            <div class="install-code-pre-wrapper">
              <pre class="install-code-pre"><code class="bash" id="temp-win-4">adb push -p %systemdrive%%homepath%\Downloads\asteroid-image-{{deviceNames.[0]}}.ext4 /sdcard/media/0/asteroidos.ext4</code></pre>
            </div>
            <div class="clipboard-button-wrapper">
              <input type="button" class="btn btn-primary clipboard-button" onclick="copyToClipboard('#temp-win-5')" value="&#10697;"></input>
            </div>
          </div>
        </div>
        Everytime you want to reboot AsteroidOS:
        <br>
        While in recovery mode use the top button on the watch to select "Recovery mode" and push the bottom button to boot into the temporary image of AsteroidOS.
