<h2>2. Install and boot AsteroidOS</h2>
<div class="callout callout-error">
  <h4>Only temporary installation supported</h4>
  <p>On most watches, you can decide if you want to replace Wear OS definitively or try AsteroidOS as a <i>dual-boot</i>. On the {{title}} the real installation is not supported and you can only try AsteroidOS as a dual-boot using the temporary installation method.</p>
</div>
<ol>
