//
// Content
// --------------------------------------------------


// This is the main content of the docs, usually the center column.
.docs-content {
  position: relative;
  overflow: hidden; // hide the overhang on code/pre blocks

  background: #fff;
  background-color: #fff;
  padding: 30px @content-gutter 80px @content-gutter;
  margin: 0 -15px;

  border: none;
  border-radius: 4px;

  // remove padding from fluid containers when
  // inside content blocks.
  .container-fluid {
    padding: 0;
  }
}

.docs-content {
  .box-shadow(0 2px 4px rgba(0,0,0,.2));
}

.docs-section + .docs-section {
  padding-top: 20px;
}

@media (max-width: 767px) {
  .docs-content {
    padding: 3VH 10VW 3VH 10VW;
  }
}


