//
// Install Support Tables
// --------------------------------------------------

.support-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

th.rotated {
    width: 30px;
    height: 40px;
    white-space: nowrap;
    transform: translateX(10px) rotate(-45deg);
}

.support-col {
  width: auto;
  height: 25px;
  max-width: 100%;
  // Grow colums to fill entire width.
  flex: 1 0 auto;
  // Make font bold.
  font-weight: 700;
  // Add minimal gap between columns.
  margin: 1px;
  padding: 0 !important;
  // for tooltips
  position: relative;
}

td.support-col {
  min-width: 25px;
}

.name-col {
    width: 90px;
}

.good {
  background-color: #5ab948;
}

.unknown {
  background-color: #3366ff;
}

.partial {
  background-color: #ffa31a;
}

.bad {
  background-color: #b94a48;
}

.na {
  background-color: #8c8c8c;
}


.support-col .tooltiptext {
    visibility: hidden;
    width: 80px;
    bottom: 70%;
    left: 70%;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.support-col:hover .tooltiptext {
    visibility: visible;
}
