---
title: Conferences
layout: documentation
---

<p>Several conferences have been given to present certain aspects of AsteroidOS to the community. Some of those conferences have been recorded or have their slides available. This page tries to gather links to the videos and slides as a complement to the project's documentation. Note that some of the conferences are in french.</p>

<div class="page-header">
  <h1 id="fossnorth2017">FOSS North 2017</h1>
</div>
<iframe src="//www.slideshare.net/slideshow/embed_code/key/sqDe7hurIugv7Y" width="100%" height="587" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>

<iframe width="100%" height="410" src="https://www.youtube-nocookie.com/embed/0SQhlbJrvmQ?controls=1&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

<div class="page-header">
  <h1 id="cdl2016-1">Capitole du Libre 2016 - Embedded track</h1>
</div>
<iframe src="//www.slideshare.net/slideshow/embed_code/key/ejbunSN2EKa9ge" width="100%" height="587" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>

<div class="page-header">
  <h1 id="cdl2016-2">Capitole du Libre 2016 - C++/Qt track</h1>
</div>
<iframe src="//www.slideshare.net/slideshow/embed_code/key/oMgX8x3EPzHqhE" width="100%" height="587" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>

<div class="page-header">
  <h1 id="qtcon2016">QtCon 2016</h1>
</div>
<iframe src="//www.slideshare.net/slideshow/embed_code/key/5kmB5bytC0kYyO" width="100%" height="587" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>

<video width="100%" height="450" controls>
  <source src="http://ftp5.gwdg.de/pub/linux/kde/extrafiles/akademy/2016/366_wear_qt_on_your_wrist_with_asteroidos.mp4" type="video/mp4">
</video>

<div class="page-header">
  <h1 id="fosdem2016">FOSDEM 2016</h1>
</div>
<iframe src="//www.slideshare.net/slideshow/embed_code/key/Jayd1J5Fr98oFD" width="100%" height="587" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>

<div class="page-header">
  <h1 id="cppqtapr2015">C++/Qt Meetup Toulouse May 2016</h1>
</div>
<iframe src="//www.slideshare.net/slideshow/embed_code/key/LoPn0ncEKbPpx" width="100%" height="587" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>

<div class="page-header">
  <h1 id="elmapr2016">Embedded Linux Meetup Toulouse Apr. 2016</h1>
</div>
<iframe src="//www.slideshare.net/slideshow/embed_code/key/JEd0BysC3P8H8d" width="100%" height="587" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>

<div class="page-header">
  <h1 id="cdl2015">Capitole du Libre 2015 <i>(canceled)</i></h1>
</div>
<iframe src="//www.slideshare.net/slideshow/embed_code/key/5p1x3qDQsOIwau"  width="100%" height="587" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>

<div class="page-header">
  <h1 id="elmjan2015">Embedded Linux Meetup Toulouse Jan. 2015</h1>
</div>
<iframe src="//www.slideshare.net/slideshow/embed_code/key/HDuiaPy20dgiRJ" width="100%" height="587" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>
