---
title: Licenses
layout: documentation
---

<p>An AsteroidOS image is made of plenty of components and it’s hard to describe the full details of the licenses that are in used in the system. When building the system from sources with OpenEmbedded, one can find the exhaustive set of licenses in the build/tmp-glibc/deploy/licenses directory.</p>
<p>In order to give a very general overview of the licenses that are in used. All the apps are distributed under GPLv3. QML-Asteroid is distributed under LGPL-2.1. asteroid-launcher is distributed under BSD. The wallpapers are covered by the CC BY 2.0 and the logo by CC BY SA 2.0.</p>
<p>It’s also worth noticing that on most watches, a few amount of proprietary blobs and firmware need to be used for GPU acceleration and Bluetooth. They are isolated components which can be found in the /vendor/ directory and they are used via <em>libhybris</em>.</p>
