---
title: Porting Status
layout: documentation
---

<p>This page aims at gathering info about the currently supported platforms and porting efforts.</p>
<div class="page-header">
  <h1 id="androidwear">Android Wear Smartwatches</h1>
</div>
<p>The Android Wear smartwatches are the most widespread and easy to support. The source code of their kernels is usually easily available and the drivers can be supported with libhybris. Those watches are the current priority of AsteroidOS.</p>
<p><strong>Supported watches:</strong></p>
<ul>
<li>Asus Zenwatch <i>(maintained by locusf)</i></li>
<li>Asus Zenwatch 2 <i>(maintained by Lrs121 & dlandau)</i></li>
<li>Asus Zenwatch 3 <i>(maintained by anYc)</i></li>
<li>LG G Watch <i>(maintained by kido)</i></li>
<li>LG G Watch R <i>(maintained by atx)</i></li>
<li>LG G Watch Urbane <i>(maintained by TheAppleMan & kido)</i></li>
<li>Samsung Gear Live <i>(maintained by kido) support currently broken</i></li>
<li>Sony Smartwatch 3 <i>(maintained by kido)</i></li>
</ul>

<p><strong>Possible ports not supported yet:</strong></p>
<ul>
<li>Casio Smart Outdoor Watch</li>
<li>Elephone Ele Watch</li>
<li>Guess Connect</li>
<li>Huawei Watch</li>
<li>Huawei Watch 2</li>
<li>Hugo BOSS BOSS Touch</li>
<li>LG Watch Urbane 2nd Edition</li>
<li>Misfit Vapor</li>
<li>Montblanc Summit</li>
<li>Moto 360 (1st generation)</li>
<li>Moto 360 (2nd generation)</li>
<li>Moto 360 Sport</li>
<li>Nixon Mission</li>
<li>New Balance RunIQ Watch</li>
<li>Samsung Gear S</li>
<li>Tag Heuer Connected</li>
<li>Tag Heuer Connected Modular 45</li>
<li>Ticwatch E</li>
<li>Ticwatch S</li>
<li>Tommy Hilfiger 24/7 You</li>
<li>Verizon Wear 24</li>
<li>ZTE Quartz</li>
</ul>
<p><strong>Impossible ports because of lack of pinouts:</strong></p>
<ul>
<li>Diesel Full Guard</li>
<li>Emporio Armani Connected</li>
<li>Fossil Q Control</li>
<li>Fossil Q Explorist</li>
<li>Fossil Q Founder</li>
<li>Fossil Q Marshal</li>
<li>Fossil Q Venture</li>
<li>Fossil Q Wander</li>
<li>Gc Connect</li>
<li>LG Watch Sport</li>
<li>LG Watch Style</li>
<li>Louis Vuitton Tambour</li>
<li>Michael Kors Access</li>
<li>Michael Kors Access Grayson</li>
<li>Michael Kors Access Mesdames</li>
<li>Michael Kors Dylan</li>
<li>Michael Kors Sofie</li>
<li>Movado Connect</li>
<li>Polar M600</li>
<li>Skagen Falster</li>
</ul>
<div class="page-header">
  <h1 id="tizensw">Tizen Smartwatches</h1>
</div>
<p>The Samsung Gear S2, S2 Classic and S3 might be supported by AsteroidOS in the future but they will require more work than the other watches. Someone already got interested in the S2 port but gave up because he couldn’t find the kernel’s defconfig.</p>
<div class="page-header">
  <h1 id="othersw">Other Smartwatches</h1>
</div>
<p>There are many Android (non-Wear) smartwatches available for a lower price. (e.g: the Omate *, Sony SW, Intex iRist, zWatch etc…) It might be more difficult to get access to the kernel’s or android tree of those devices but libhybris could also make running AsteroidOS on top of them possible.</p>
<p>Other low-end smartwatches using cheap Mediatek SoCs aren’t able to run a Linux kernel and can’t be supported by AsteroidOS</p>
